<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS PHP Example</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/departmentService.js"></script>
        <script src="assets/js/departmentController.js"></script>
    </head>
    <body ng-app="myCrudApp" class="ng-cloak">
        <div class="generic-container" ng-controller="DepartmentController as ctrl">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Create new department</span></div>
              <div class="formcontainer">
                  <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                      <input type="hidden" ng-model="ctrl.department.id" />
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="name">Name</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.department.name" id="name" class="field form-control input-sm" placeholder="Enter department name" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.name.$error.required">This is a required field</span>
                                      <span ng-show="myForm.name.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.name.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
 
                      <div class="row">
                          <div class="form-actions floatRight">
                              <input type="submit"  value="{{!ctrl.department.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">List of Departments</span></div>
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th width="30%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="d in ctrl.departments.records">
                              <td><span ng-bind="d.id"></span></td>
                              <td><span ng-bind="d.name"></span></td>
                              <td>
                                <button type="button" ng-click="ctrl.edit(d.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(d.id)" class="btn btn-danger custom-width">Remove</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/departmentService.js"></script>
        <script src="assets/js/departmentController.js"></script> -->
    </body>
</html>